<nav>
    <strong href="/users"><span class="glyphicon glyphicon-home"></span> Home</strong>
</nav>

<h1>Home</h1>

<a href="/users">View All Users</a><br>
<a href="/user">Add User</a>
<br>
<a href="/about">About page</a>