<h1>Enter Your Info</h1>
<form>
    Name <input type="text" name="name" required><br>
    Start Date <input type="datetime"><br>
    One Rep Max Back Squat <input type="text" required><br>
    One Rep Max Front Squat <input type="text" required><br>
</form>
<a href="/">Submit</a>