<nav>
    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a> &gt;
    <strong href="/users">Users</strong>
</nav>

<h1>Users</h1>

{{#each users as |user|}}
    <p>
        <a href="/user/{{user._id}}">{{user.name}}</a>
    </p>
{{/each}}