body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panel-nav {
  max-width: 300px;
}

.user-form > * {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.hr-primary {
  border-top-color: #337ab7;
}

.user-form hr {
  max-width: 600px;
}

.btn-cycle {
  width: 100%;
  margin-bottom: 8px;
}

.btn-new {
  opacity: .85;
}

.help-block:not(.active) {
  display: none;
}