body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panel-nav {
  max-width: 350px;
}

.user-form > * {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.user-form button {
  margin-bottom: 20px;
}

.hr-primary {
  border-top-color: #337ab7;
}

.user-form hr {
  max-width: 600px;
}

.btn-cycle {
  width: 100%;
  margin-bottom: 8px;
}

.btn-new {
  opacity: .85;
}

.help-block:not(.active) {
  display: none;
}

span.value {
  font-weight: bold;
  font-size: 150%;
}

span.unit {
  font-size: 125%;
}

span.article {
  font-size: 80%;
  opacity: .7;
}

span.detail {
  opacity: .7;
}
.table tbody tr td, .table thead tr th {
  flex: 1px 1 1;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table tbody tr td a {
  flex: 1px 1 1;
}
.table tbody tr td > *, .table thead tr th > * {
  padding: 8px;
}
.table tbody tr, .table thead tr {
  display: flex;
}